<div class="container">
  <h2 class="text-center">New item</h2>
  <hr>
  <form (ngSubmit)='submitCart()' #cartForm='ngForm'>
      <div class="form-group">

          <h2><label for="name">Item Name:</label></h2>
          <input type="text" class="form-control" id="name" [(ngModel)]="newCart.name" name="name" #name='ngModel' required>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Item name required</p>
          </div>
        </div>
   <label for="tentacles">Quantity</label>

<input type="number"rows="4"  id="tentacles" [(ngModel)]="newCart.description"  name="tentacles"
       min="10" max="100">
      <button type="submit" class="btn btn-success">Add Item</button>
  </form>
